{% include head.html %}
<body>
  {% include header.html %}
  <main>
  <article>
    <h1>Contact Us</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2460.8710739389735!2d-2.0384300492515774!3d51.918063288315835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48711954e94e3415%3A0x745107db95675c9c!2sPrestbury+Upholstery!5e0!3m2!1sen!2suk!4v1491130857142" allowfullscreen></iframe>
    <div id="enquiry-form">
      <h2>Enquiry Form</h2>

    </div>
    <div id="contact-details">
      <h2>Contact Details</h2>
      <h3>Opening Times:</h3>
      <p>Monday – Friday: 8.30am – 6.00pm<br>
	Saturday: By appointment only.</p>
      <p>Other appointment times available at request.</p>
      <p>
	Tel: <a href="tel:{{site.contact.phone}}">{{site.contact.phone}}</a><br>
	Email: <a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a>
      </p>
      <h3>Address:</h3>
      <p>
	{{ site.contact.address | newline_to_br }}
      </p>
    </div>
  </article>
  </main>
  {% include foot.html %}
